<app-header></app-header>
<!-- Main navigation -->
<header>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark  scrolling-navbar navbar-dark mdb-color darken-2 " class="u" id="un">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>MDB</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item  waves-light" mdbWavesEffect>
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" mdbPageScroll href="#uno">Acciones estratégicas</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" mdbPageScroll href="#dos">Profile</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" mdbPageScroll href="#tres">Profile</a>
                </li>
            </ul>
            <form class="form-inline">
                <div class="md-form my-0">
                    <a href="" style="color: white!important;">
                        <mdb-icon fab icon="facebook-square" size="2x"></mdb-icon>
                    </a>
                </div>
            </form>
        </links>
    </mdb-navbar>
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/architecture.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                        <h1 class="h1-responsive font-weight-bold mt-sm-5">Asambleas de análisis del Plan y los Programas de estudio para el diseño de los Libros de Texto Gratuitos para la Educación Básica</h1>
                        <hr class="hr-light">
                        <h6 class="mb-4">Dirección General de Materiales Educativos<br>
                            Dirección General de Desarrollo Curricular</h6>
                        <a mdbBtn color="white" mdbWavesEffect>Download</a>
                        <a mdbBtn color="white" outline="true" mdbWavesEffect>Learn more</a>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.webp" alt="" class="img-fluid">
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
</header>
<!-- Main navigation -->

<div class="container">
    <!-- Section: Blog v.1 -->
    <section class="my-5" id="uno">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Propósito</h2>
        <!-- Section description -->
        <p class="text-center w-responsive mx-auto mb-5">Analizar con la comunidad educativa
            el Plan y los programas de estudio
            para la Educación Básica 2022,
            modificar lo necesario y, con ello,
            elaborar los Libros de Texto Gratuitos
            en el marco de la Nueva Escuela
            Mexicana.<br>
        
            Para la Asamblea se considerará la
            representatividad geográfica de nuestro
            país. Para ello, necesitamos docentes de
            los municipios de mayor marginación
            económica y social, sin descuidar la
            participación de docentes de otros
            contextos y realidades mexicanas.</p>

            <h2 class="h1-responsive font-weight-bold text-center my-5">Acciones estratégicas</h2>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-5">

                <!-- Featured image -->
                <div class="overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).webp" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-7">

                <!-- Category -->
                <a href="#!" class="green-text">
                    <h6 class="font-weight-bold mb-3">
                        <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Food</h6>
                </a>
                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>1.</strong></h3>
                <!-- Excerpt -->
                <p>Discusión, análisis y planteamiento de
                    propuestas para la mejora del Plan y los
                    programas de estudio 2022 entre la
                    comunidad educativa, mediante una
                    metodología participativa.</p>
                <!-- Post data -->
                <p>by <a><strong>Carine Fox</strong></a>, 19/08/2018</p>
                <!-- Read more button -->
                <a mdbBtn color="success" mdbWavesEffect>Read more</a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr class="my-5">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-7">

                <!-- Category -->
                <a href="#!" class="pink-text">
                    <h6 class="font-weight-bold mb-3">
                        <mdb-icon far icon="image" class="pr-2"></mdb-icon>Lifestyle</h6>
                </a>
                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>2.</strong></h3>
                <!-- Excerpt -->
                <p>Sistematización de las propuestas que
                    fortalecerán los documentos
                    orientadores (pertinencia, relevancia e
                    impacto en el aprendizaje de los
                    educandos, así como el cumplimiento
                    con el modelo de la Nueva Escuela
                    Mexicana).
                </p>
                <!-- Post data -->
                <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
                <!-- Read more button -->
                <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-5">

                <!-- Featured image -->
                <div class=" overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).webp" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr class="my-5">


    </section>
    <!-- Section: Blog v.1 -->

    <!--Section: Magazine v.2-->
    <section class="magazine-section my-5" id="dos">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Section title</h2>
        <!-- Section description -->
        <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit id laborum.</p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-6 col-md-12">

                <!-- Featured news -->
                <div class="single-news mb-lg-0 mb-4">

                    <!-- Image -->
                    <div class=" overlay rounded z-depth-1-half mb-4">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.webp" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                    </div>

                    <!-- Data -->
                    <div class="news-data d-flex justify-content-between">
                        <a href="#!" class="deep-orange-text">
                            <h6 class="font-weight-bold">
                                <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Culinary</h6>
                        </a>
                        <p class="font-weight-bold dark-grey-text">
                            <mdb-icon far icon="clock" class="pr-2"></mdb-icon>27/02/2018</p>
                    </div>

                    <!-- Excerpt -->
                    <h3 class="font-weight-bold dark-grey-text mb-3">
                        <a>Title of the news</a>
                    </h3>
                    <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae explicabo. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>

                </div>
                <!-- Featured news -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-6 col-md-12">

                <!-- Small news -->
                <div class="single-news mb-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-3">

                            <!--Image-->
                            <div class=" overlay rounded z-depth-1 mb-4">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(29).webp" alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-9">

                            <!-- Excerpt -->
                            <p class="font-weight-bold dark-grey-text">26/02/2018</p>
                            <div class="d-flex justify-content-between">
                                <div class="col-11 text-truncate pl-0 mb-3">
                                    <a href="#!" class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus
                  qui
                  blanditiis</a>
                                </div>
                                <a>
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-3">

                            <!--Image-->
                            <div class=" overlay rounded z-depth-1 mb-4">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).webp" alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-9">

                            <!-- Excerpt -->
                            <p class="font-weight-bold dark-grey-text">25/02/2018</p>
                            <div class="d-flex justify-content-between">
                                <div class="col-11 text-truncate pl-0 mb-3">
                                    <a href="#!" class="dark-grey-text">Itaque earum rerum hic tenetur a sapiente delectus</a>
                                </div>
                                <a>
                                    <mdb-icon fas icon="angle-double-right"></mdb-icon>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-3">

                            <!--Image-->
                            <div class=" overlay rounded z-depth-1 mb-4">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/87.webp" alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-9">

                            <!-- Excerpt -->
                            <p class="font-weight-bold dark-grey-text">24/02/2018</p>
                            <div class="d-flex justify-content-between">
                                <div class="col-11 text-truncate pl-0 mb-3">
                                    <a href="#!" class="dark-grey-text">Soluta nobis est eligendi optio cumque nihil impedit quo
                  minus</a>
                                </div>
                                <a>
                                    <mdb-icon fas icon="angle-double-right"></mdb-icon>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-3">

                            <!--Image-->
                            <div class=" overlay rounded z-depth-1 mb-md-0 mb-4">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).webp" alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-9">

                            <!-- Excerpt -->
                            <p class="font-weight-bold dark-grey-text">23/02/2018</p>
                            <div class="d-flex justify-content-between">
                                <div class="col-11 text-truncate pl-0 mb-lg-3">
                                    <a href="#!" class="dark-grey-text">Duis aute irure dolor in reprehenderit in voluptate</a>
                                </div>
                                <a>
                                    <mdb-icon fas icon="angle-double-right"></mdb-icon>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Small news -->

            </div>
            <!--Grid column-->

        </div>
        <!-- Grid row -->
        <hr class="my-5">
    </section>
    <!--Section: Magazine v.2-->
    <section class="magazine-section my-5" id="tres">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Section title</h2>
        <!-- Section description -->
        <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit id laborum.</p>
        <!-- Nav Tabs -->
        <mdb-tabset #staticTabs [vertical]="true" [buttonClass]="'md-pills pills-success text-center transparent'" [contentClass]="'card'">
            <!--Panel 1-->
            <mdb-tab heading="Semana 1">
                <div class="row">
                    <div class="col-12">
                        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                            <mdb-carousel-item>
                                <div class=" w-100">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).webp" alt="First slide">
                                    <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Light mask</h3>
                                    <p>First text</p>
                                </div>
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                                <div class=" w-100">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).webp" alt="Second slide">
                                    <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Strong mask</h3>
                                    <p>Secondary text</p>
                                </div>
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                                <div class=" w-100">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).webp" alt="Third slide">
                                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Slight mask</h3>
                                    <p>Third text</p>
                                </div>
                            </mdb-carousel-item>
                        </mdb-carousel>
                    </div>
                </div>
            </mdb-tab>
            <!--Panel 2-->
            <mdb-tab heading="Semana 2">
                <div class="row">
                    <div class="col-12">
                        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                            <mdb-carousel-item>
                                <div class=" w-100">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).webp" alt="First slide">
                                    <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Light mask</h3>
                                    <p>First text</p>
                                </div>
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                                <div class=" w-100">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).webp" alt="Second slide">
                                    <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Strong mask</h3>
                                    <p>Secondary text</p>
                                </div>
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                                <div class=" w-100">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).webp" alt="Third slide">
                                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Slight mask</h3>
                                    <p>Third text</p>
                                </div>
                            </mdb-carousel-item>
                        </mdb-carousel>
                    </div>
                </div>
            </mdb-tab>
            <!--Panel 3-->
            <mdb-tab heading="Semana 3">
                <div class="row">
                    <div class="col-12">
                        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                            <mdb-carousel-item>
                                <div class=" w-100">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).webp" alt="First slide">
                                    <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Light mask</h3>
                                    <p>First text</p>
                                </div>
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                                <div class=" w-100">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).webp" alt="Second slide">
                                    <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Strong mask</h3>
                                    <p>Secondary text</p>
                                </div>
                            </mdb-carousel-item>
                            <mdb-carousel-item>
                                <div class=" w-100">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).webp" alt="Third slide">
                                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Slight mask</h3>
                                    <p>Third text</p>
                                </div>
                            </mdb-carousel-item>
                        </mdb-carousel>
                    </div>
                </div>
            </mdb-tab>
        </mdb-tabset>
    </section>
</div>
<app-footer></app-footer>