<app-header>
</app-header>
<!-- Main navigation -->
<header>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark  scrolling-navbar navbar-dark mdb-color darken-2 " class="u" id="un">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>DGME</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" mdbPageScroll href="#uno">Acciones Estratégicas</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" mdbPageScroll href="#dos">Estructura de las Asambleas</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" mdbPageScroll href="#tres">Rutas</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" mdbPageScroll href="#cuatro">Participa</a>
                </li>
            </ul>
            <form class="form-inline">
                <div class="md-form my-0">
                    <a href="https://www.facebook.com/SEP.DGME" style="color: white!important;" target="_blank">
                        <mdb-icon fab icon="facebook-square" size="2x"></mdb-icon>
                    </a>
                </div>
            </form>
        </links>
    </mdb-navbar>

    <!-- Mask & flexbox options-->
    <div class="mask2 rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <img width="300px" src="../assets/img/logo_educacion.svg">
                    <h2 class="h2-responsive font-weight-bold mt-sm-3">Asambleas de análisis del Plan y los Programas de estudio para el diseño de los Libros de Texto Gratuitos para la Educación Básica</h2>
                    <hr class="hr-light">
                    <h6 class="mb-4">Dirección General de Materiales Educativos<br> Dirección General de Desarrollo Curricular</h6>
                    <a mdbBtn color="white" href="https://bit.ly/3IPovd7" target="_blank" mdbWavesEffect>Conoce el plan y los programas de estudio</a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                    <img src="../assets/img/asambleas4.png" alt="" class="img-fluid">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</header>
<!-- Main navigation -->

<div class="container">
    <!-- Section: Blog v.1 -->
    <section class="my-5">

        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-5">
                <img class="img-fluid" src="../assets/img/asambleas3.png" alt="Sample image" width="80%">

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-7">

                <!-- Category -->

                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>Propósito</strong></h3>
                <!-- Excerpt -->
                <p>Analizar con la comunidad educativa el Plan y los programas de estudio para la Educación Básica 2022, modificar lo necesario y, con ello, elaborar los Libros de Texto Gratuitos en el marco de la Nueva Escuela Mexicana.
                </p>

            </div>
            <!-- Grid column -->

        </div>

    </section>
    <section class="my-5" id="uno">

        <h2 class="h1-responsive font-weight-bold text-center my-5">Acciones Estratégicas</h2>

        <!-- Grid row -->
        <div class="row">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6 col-sm-12 col-xs-12 mb-5">
                    <div class="row">
                        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
                            <img class="img-fluid" width="100%" src="../assets/img/1.svg">
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h5 class="black-text"> <br> Discusión, análisis y planteamiento de propuestas para la mejora del Plan y los programas de estudio 2022 entre la comunidad educativa, mediante una metodología participativa.</h5>
                        </div>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-sm-12 mb-5">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <img class="img-fluid" width="100%" src="../assets/img/2.svg">
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h5 class="black-text"> <br> Sistematización de las propuestas que fortalecerán los documentos orientadores (pertinencia, relevancia e impacto en el aprendizaje de los educandos, así como el cumplimiento con el modelo de la Nueva Escuela Mexicana).
                            </h5>
                        </div>
                    </div>
                </div>
                <!--Grid column-->


            </div>

        </div>
        <!-- Grid row -->

        <hr class="my-5">


    </section>
    <!-- Section: Blog v.1 -->

    <!--Section: Magazine v.2-->
    <section class="magazine-section my-5" id="dos">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Estructura de las Asambleas</h2>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-6 col-md-12">

                <!-- Featured news -->
                <div class="single-news mb-lg-0 mb-4">

                    <!-- Image -->
                    <div>
                        <img class="img-fluid" src="../assets/img/plenaria.svg" alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                    </div>


                    <!-- Excerpt -->
                    <h4 class="font-weight-bold dark-grey-text mb-3">
                        Plenaria: Plan y programas de estudio para la Educación Básica
                    </h4>
                    <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Una asamblea plenaria de apertura donde se discutirá el Plan y los Programas de estudio.</p>

                    <br>
                    <h4 class="font-weight-bold dark-grey-text mb-3">
                        Plenaria de conclusiones
                    </h4>

                </div>
                <!-- Featured news -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-6 col-md-12">

                <!-- Small news -->
                <div class="single-news mb-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-3 col-sm-3">

                            <!--Image-->
                            <div>
                                <img class="img-fluid" src="../assets/img/mesa1.svg" alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-9 col-sm-9">

                            <!-- Excerpt -->
                            <p class="font-weight-bold dark-grey-text">Mesa 1</p>
                            <div class="d-flex justify-content-between">
                                <div class="col-11 text-truncate pl-0 mb-3">
                                    <a href="#!" class="dark-grey-text">Asamblea de
                                     Inicial</a>
                                </div>

                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-3 col-sm-3">

                            <!--Image-->
                            <div>
                                <img class="img-fluid" src="../assets/img/mesa2.svg" alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-9 col-sm-9">

                            <!-- Excerpt -->
                            <p class="font-weight-bold dark-grey-text">Mesa 2</p>
                            <div class="d-flex justify-content-between">
                                <div class="col-11 text-truncate pl-0 mb-3">
                                    <a href="#!" class="dark-grey-text">Asamblea de
                                        Preescolar</a>
                                </div>

                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-3 col-sm-3">

                            <!--Image-->
                            <div>
                                <img class="img-fluid" src="../assets/img/mesa3.svg" alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-9 col-sm-9">

                            <!-- Excerpt -->
                            <p class="font-weight-bold dark-grey-text">Mesa 3</p>
                            <div class="d-flex justify-content-between">
                                <div class="col-11 text-truncate pl-0 mb-3">
                                    <a href="#!" class="dark-grey-text">Asamblea de
                                        Primaria</a>
                                </div>

                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-3 col-sm-3">

                            <!--Image-->
                            <div>
                                <img class="img-fluid" src="../assets/img/mesa4.svg" alt="Sample image">

                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-9 col-sm-9">

                            <!-- Excerpt -->
                            <p class="font-weight-bold dark-grey-text">Mesa 4</p>
                            <div class="d-flex justify-content-between">
                                <div class="col-11 text-truncate pl-0 mb-lg-3">
                                    <a href="#!" class="dark-grey-text">Asamblea de
                                        Secundaria</a>
                                </div>

                            </div>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Small news -->

            </div>
            <!--Grid column-->

        </div>
        <!-- Grid row -->
        <hr class="my-5">
    </section>
    <!--Section: Magazine v.2-->
    <section class="magazine-section my-5 mb-5" id="tres">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Rutas</h2>
        <!-- Nav tabs -->
        <mdb-tabset [buttonClass]="'pills-secondary white mb-2'" [contentClass]="'card'">
            <!--Panel 1-->
            <mdb-tab heading="Semana 1">
                <div class="row">
                    <div class="col-12">
                        <!-- Section: Blog v.1 -->
                        <section class="my-5">
                            <!-- Section description -->
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-5">
                                    <!-- Featured image -->
                                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                        <img class="img-fluid" src="../assets/img/semana1.png" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-7">

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Coatzacoalcos, Veracruz</strong>
                                    </h5>
                                    <p>Martes 1 de febrero <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="Estado(1)" mdbWavesEffect>Ver Galería</button >&nbsp;&nbsp;</p>
                                    <hr>

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Campeche, Campeche </strong>
                                    </h5>
                                    <p>Martes 1 de febrero <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="Estado(2)" mdbWavesEffect>Ver Galería</button ></p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Mérida, Yucatán </strong>
                                    </h5>
                                    <p>Miércoles 2 de febrero<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="Estado(3)" mdbWavesEffect>Ver Galería</button ></p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Cancún, Quintana Roo</strong>
                                    </h5>
                                    <p>Jueves 3 de febrero <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="Estado(4)" mdbWavesEffect>Ver Galería</button ></p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </section>
                        <!-- Section: Blog v.1 -->
                    </div>
                </div>
            </mdb-tab>
            <!--Panel 2-->
            <mdb-tab heading="Semana 2">
                <div class="row">
                    <div class="col-12">
                        <!-- Section: Blog v.1 -->
                        <section class="my-5">
                            <!-- Section description -->
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-5">
                                    <!-- Featured image -->
                                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                        <img class="img-fluid" src="../assets/img/semana2.png" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-7">

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Tamaulipas, Tamaulipas</strong>
                                    </h5>
                                    <p>Lunes 7 de febrero <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="Estado(5)" mdbWavesEffect>Ver Galería</button ></p>
                                    <hr>

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Monterrey, Nuevo León</strong>
                                    </h5>
                                    <p>Martes 8 de febrero <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="Estado(6)" mdbWavesEffect>Ver Galería</button ></p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Torreón, Coahuila</strong>
                                    </h5>
                                    <p>Miércoles 9 de febrero <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="Estado(7)" mdbWavesEffect>Ver Galería</button ></p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Durango, Durango</strong>
                                    </h5>
                                    <p>Jueves 10 de febrero <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="Estado(8)" mdbWavesEffect>Ver Galería</button ></p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </section>
                        <!-- Section: Blog v.1 -->
                    </div>
                </div>
            </mdb-tab>
            <!--Panel 3-->
            <mdb-tab heading="Semana 3">
                <div class="row">
                    <div class="col-12">
                        <!-- Section: Blog v.1 -->
                        <section class="my-5">
                            <!-- Section description -->
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-5">
                                    <!-- Featured image -->
                                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                        <img class="img-fluid" src="../assets/img/semana3.png" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-7">

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Puebla, Puebla</strong>
                                    </h5>
                                    <p><b>Lunes 14 de febrero</b>&nbsp;&nbsp;</p>
                                    <hr>

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Oaxaca, Oaxaca</strong>
                                    </h5>
                                    <p>Martes 15 de febrero</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Tuxtla Gutiérrez, Chiapas</strong>
                                    </h5>
                                    <p>Miércoles 16 de febrero</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Tabasco, Tabasco</strong>
                                    </h5>
                                    <p>Jueves 17 de febrero</p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </section>
                        <!-- Section: Blog v.1 -->
                    </div>
                </div>
            </mdb-tab>
            <!--Panel 4-->
            <mdb-tab heading="Semana 4">
                <div class="row">
                    <div class="col-12">
                        <!-- Section: Blog v.1 -->
                        <section class="my-5">
                            <!-- Section description -->
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-5">
                                    <!-- Featured image -->
                                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                        <img class="img-fluid" src="../assets/img/semana4.png" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-7">

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Chilpancingo, Guerrero</strong>
                                    </h5>
                                    <p><b>Lunes 21 de febrero</b>&nbsp;&nbsp;</p>
                                    <hr>

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Cuernavaca, Morelos</strong>
                                    </h5>
                                    <p>Martes 22 de febrero</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Tlaxcala, Tlaxcala</strong>
                                    </h5>
                                    <p>Miércoles 23 de febrero</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Pachuca, Hildago</strong>
                                    </h5>
                                    <p>Jueves 24 de febrero</p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </section>
                        <!-- Section: Blog v.1 -->
                    </div>
                </div>
            </mdb-tab>
            <!--Panel 5-->
            <mdb-tab heading="Semana 5">
                <div class="row">
                    <div class="col-12">
                        <!-- Section: Blog v.1 -->
                        <section class="my-5">
                            <!-- Section description -->
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-5">
                                    <!-- Featured image -->
                                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                        <img class="img-fluid" src="../assets/img/semana5.png" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-7">

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>San Luis Potosí, San Luis Potosí</strong>
                                    </h5>
                                    <p><b>Lunes 28 de febrero</b>&nbsp;&nbsp;</p>
                                    <hr>

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Aguascalientes, Aguascalientes</strong>
                                    </h5>
                                    <p>Martes 1 de marzo</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Tepic, Nayarit</strong>
                                    </h5>
                                    <p>Miércoles 2 de marzo</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Culiacán, Sinaloa</strong>
                                    </h5>
                                    <p>Jueves 3 de marzo</p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </section>
                        <!-- Section: Blog v.1 -->
                    </div>
                </div>
            </mdb-tab>
            <!--Panel 6-->
            <mdb-tab heading="Semana 6">
                <div class="row">
                    <div class="col-12">
                        <!-- Section: Blog v.1 -->
                        <section class="my-5">
                            <!-- Section description -->
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-5">
                                    <!-- Featured image -->
                                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                        <img class="img-fluid" src="../assets/img/semana6.png" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-7">

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Morelia, Michoacán</strong>
                                    </h5>
                                    <p><b>Lunes 7 de marzo</b>&nbsp;&nbsp;</p>
                                    <hr>

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Guanajuato, Guanajuato</strong>
                                    </h5>
                                    <p>Martes 8 de marzo</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Guadalajara, Jalisco</strong>
                                    </h5>
                                    <p>Miércoles 9 de marzo</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Colima, Colima</strong>
                                    </h5>
                                    <p>Jueves 10 de marzo</p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </section>
                        <!-- Section: Blog v.1 -->
                    </div>
                </div>
            </mdb-tab>
            <!--Panel 7-->
            <mdb-tab heading="Semana 7">
                <div class="row">
                    <div class="col-12">
                        <!-- Section: Blog v.1 -->
                        <section class="my-5">
                            <!-- Section description -->
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-5">
                                    <!-- Featured image -->
                                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                        <img class="img-fluid" src="../assets/img/semana7.png" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-7">

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Toluca, Estado de México</strong>
                                    </h5>
                                    <p><b>Lunes 14 de marzo</b>&nbsp;&nbsp;</p>
                                    <hr>

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Ciudad de México</strong>
                                    </h5>
                                    <p>Martes 15 de marzo</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Querétaro, Querétaro</strong>
                                    </h5>
                                    <p>Miércoles 16 de marzo</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Zacatecas, Zacatecas</strong>
                                    </h5>
                                    <p>Jueves 17 de marzo</p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </section>
                        <!-- Section: Blog v.1 -->
                    </div>
                </div>
            </mdb-tab>
            <!--Panel 8-->
            <mdb-tab heading="Semana 8">
                <div class="row">
                    <div class="col-12">
                        <!-- Section: Blog v.1 -->
                        <section class="my-5">
                            <!-- Section description -->
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-5">
                                    <!-- Featured image -->
                                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                        <img class="img-fluid" src="../assets/img/semana8.png" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-7">

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Chihuahua, Chihuahua</strong>
                                    </h5>
                                    <p><b>Lunes 21 de marzo</b>&nbsp;&nbsp;</p>
                                    <hr>

                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Hermosillo, Sonora</strong>
                                    </h5>
                                    <p>Martes 22 de marzo</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>Mexicali, Baja California</strong>
                                    </h5>
                                    <p>Miércoles 23 de marzo</p>
                                    <hr>
                                    <!-- Post title -->
                                    <h5 class="font-weight-bold mb-3">
                                        <strong>La Paz, Baja California Sur</strong>
                                    </h5>
                                    <p>Jueves 24 de marzo</p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </section>
                        <!-- Section: Blog v.1 -->
                    </div>
                </div>
            </mdb-tab>

        </mdb-tabset>

    </section>

    <hr class="my-5">
    <section class="magazine-section my-5 mb-5" id="cuatro">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Tu opinión es importante. Participa</h2>
        <!-- Nav tabs -->
        <mdb-tabset [buttonClass]="'pills-success white mb-2'" id="formu" style="box-shadow: none!important;">
            <!--Panel 1-->
            <mdb-tab heading="Semana 1" style="box-shadow: none!important;" id="formu">
                <div class="row">
                    <div class="col-12">
                        <!-- Section: Blog v.1 -->
                        <section class="my-5">
                            <!-- Section description -->
                            <!-- Grid row -->
                            <div class="row">

                                <div class="col-md-3 col-sm-6 mt-1">
                                    <!-- Card -->
                                    <mdb-card class="text-white" style="background-color: #2BBBAD;">
                                        <!--Card content-->
                                        <mdb-card-body class="text-center">
                                            <!--Title-->
                                            <mdb-card-title>
                                                <h5>Coatzacoalcos, Veracruz</h5>
                                            </mdb-card-title>

                                            <a class="btn btn-sm" href="https://forms.gle/9tafEHg63MaKUdK18 " target="_blank" style="background-color:#00695c;">Ir al formulario</a>
                                        </mdb-card-body>
                                    </mdb-card>
                                    <!-- Card -->
                                </div>

                                <div class="col-md-3 col-sm-6 mt-1">
                                    <!-- Card -->
                                    <mdb-card class="text-white" style="background-color: #2BBBAD;">
                                        <!--Card content-->
                                        <mdb-card-body class="text-center">
                                            <!--Title-->
                                            <mdb-card-title>
                                                <h5>Campeche, Campeche
                                                </h5>
                                            </mdb-card-title>

                                            <a class="btn btn-sm" href="https://forms.gle/ZVGozVF86XXbUTUK7" target="_blank" style="background-color:#00695c;">Ir al formulario</a>
                                        </mdb-card-body>
                                    </mdb-card>
                                    <!-- Card -->
                                </div>

                                <div class="col-md-3 col-sm-6 mt-1">
                                    <!-- Card -->
                                    <mdb-card class="text-white" style="background-color: #2BBBAD;">
                                        <!--Card content-->
                                        <mdb-card-body class="text-center">
                                            <!--Title-->
                                            <mdb-card-title>
                                                <h5>Mérida, <br> Yucatán
                                                </h5>
                                            </mdb-card-title>

                                            <a class="btn btn-sm" href="https://forms.gle/MogJqZ3fVeiPT1dN6" target="_blank" style="background-color:#00695c;">Ir al formulario</a>
                                        </mdb-card-body>
                                    </mdb-card>
                                    <!-- Card -->
                                </div>

                                <div class="col-md-3 col-sm-6 mt-1">
                                    <!-- Card -->
                                    <mdb-card class="text-white" style="background-color: #2BBBAD;">
                                        <!--Card content-->
                                        <mdb-card-body class="text-center">
                                            <!--Title-->
                                            <mdb-card-title>
                                                <h5>Cancún, <br> Quintana Roo
                                                </h5>
                                            </mdb-card-title>

                                            <a class="btn btn-sm" href="https://forms.gle/b1oEC2amQtCSDVbc8 " target="_blank" style="background-color:#00695c;">Ir al formulario</a>
                                        </mdb-card-body>
                                    </mdb-card>
                                    <!-- Card -->
                                </div>





                            </div>
                            <!-- Grid row -->
                        </section>
                        <!-- Section: Blog v.1 -->
                    </div>
                </div>
            </mdb-tab>

            <mdb-tab heading="Semana 2" style="box-shadow: none!important;" id="formu">
                <div class="row">
                    <div class="col-12">
                        <!-- Section: Blog v.1 -->
                        <section class="my-5">
                            <!-- Section description -->
                            <!-- Grid row -->
                            <div class="row">

                                <div class="col-md-3 col-sm-6 mt-1">
                                    <!-- Card -->
                                    <mdb-card class="text-white" style="background-color: #33b5e5;">
                                        <!--Card content-->
                                        <mdb-card-body class="text-center">
                                            <!--Title-->
                                            <mdb-card-title>
                                                <h5>Tamaulipas, Tamaulipas
                                                </h5>
                                            </mdb-card-title>

                                            <a class="btn btn-sm" href="https://forms.gle/mBDWb34UTVgpcyQ69 " target="_blank" style="background-color:#0099CC;">Ir al formulario</a>
                                        </mdb-card-body>
                                    </mdb-card>
                                    <!-- Card -->
                                </div>

                                <div class="col-md-3 col-sm-6 mt-1">
                                    <!-- Card -->
                                    <mdb-card class="text-white" style="background-color: #33b5e5;">
                                        <!--Card content-->
                                        <mdb-card-body class="text-center">
                                            <!--Title-->
                                            <mdb-card-title>
                                                <h5>Monterrey, Nuevo León
                                                </h5>
                                            </mdb-card-title>

                                            <a class="btn btn-sm" href="https://forms.gle/M1aaKbkZLaX6ay99A " target="_blank" style="background-color:#0099CC;">Ir al formulario</a>
                                        </mdb-card-body>
                                    </mdb-card>
                                    <!-- Card -->
                                </div>

                                <div class="col-md-3 col-sm-6 mt-1">
                                    <!-- Card -->
                                    <mdb-card class="text-white" style="background-color: #33b5e5;">
                                        <!--Card content-->
                                        <mdb-card-body class="text-center">
                                            <!--Title-->
                                            <mdb-card-title>
                                                <h5>Torreón, <br> Coahuila
                                                </h5>
                                            </mdb-card-title>

                                            <a class="btn btn-sm" href="https://forms.gle/4gEdYcsjjSSgRMbJ9 " target="_blank" style="background-color:#0099CC;">Ir al formulario</a>
                                        </mdb-card-body>
                                    </mdb-card>
                                    <!-- Card -->
                                </div>

                                <div class="col-md-3 col-sm-6 mt-1">
                                    <!-- Card -->
                                    <mdb-card class="text-white" style="background-color: #33b5e5;">
                                        <!--Card content-->
                                        <mdb-card-body class="text-center">
                                            <!--Title-->
                                            <mdb-card-title>
                                                <h5>Durango, <br> Durango
                                                </h5>
                                            </mdb-card-title>

                                            <a class="btn btn-sm" href="https://forms.gle/pqWUcQkSDVQXczvB9 " target="_blank" style="background-color:#0099CC;">Ir al formulario</a>
                                        </mdb-card-body>
                                    </mdb-card>
                                    <!-- Card -->
                                </div>


                            </div>
                            <!-- Grid row -->
                        </section>
                        <!-- Section: Blog v.1 -->
                    </div>
                </div>
            </mdb-tab>

        </mdb-tabset>
    </section>
</div>
<app-footer></app-footer>